<div style={{this.showPoll}} local-class="poll-wrapper">
  <div local-class="poll-title">
    {{title}}
  </div>
  {{#each this.questions as |question|}}
    <div style={{question.finalizedCss}} local-class="question-wrapper">
      <div local-class="question-number-info">
        <div style={{question.accentCssBackground}} local-class="question-number">
          {{question.ordinal}}
        </div>
        <div local-class="question-votes">
          Votes: <span style={{question.accentCss}} local-class="vote-accent">{{question.votes}}</span>
        </div>
      </div>
      <div local-class="question-text-and-bar">
        <div local-class="question-text">
          {{question.text}}
        </div>
        <div style={{question.barStyle}} local-class="question-bar"></div>
      </div>
      <div local-class="vote-percent">
        {{round question.percent 2}}%
      </div>
    </div>
  {{/each}}

  <div local-class="poll-footer">
    <div local-class="total-votes">
      Total Votes: <span local-class="vote-accent">{{totalVotes}}</span>
    </div>
    <div local-class="timer">
      Time Remaining: <span local-class="vote-accent">{{timer}}</span>
    </div>
  </div>

</div>
