<div local-class="melee-controls">
  {{input type="text" value=player1}}
  {{input type="text" value=player2}}
  {{input type="text" value=player3}}
  {{input type="text" value=player4}}

  <button class="btn" {{action updatePlayerNames}}>Update Player Names</button>
</div>
