<div local-class="control-panel">
  <BsTab @activeId={{activeId}} @customTabs={{true}} as |tab|>
    <BsNav @type="tabs" as |nav|>
      <nav.item @active={{bs-eq activeId "admiral-lightning-bot"}}>
        <a href="#admiral-lightning-bot" class="nav-link" role="tab" onclick={{action setTab "admiral-lightning-bot"}}>
          Admiral Lightning Bot
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "brain"}}>
        <a href="#brain" class="nav-link" role="tab" onclick={{action setTab "brain"}}>
          Brain
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "obs-scripts"}}>
        <a href="#obs-scripts" class="nav-link" role="tab" onclick={{action setTab "obs-scripts"}}>
          OBS Scripts
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "sound-board"}}>
        <a href="#sound-board" class="nav-link" role="tab" onclick={{action setTab "sound-board"}}>
          Sound Board
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "players"}}>
        <a href="#players" class="nav-link" role="tab" onclick={{action setTab "players"}}>
          Players
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "splash"}}>
        <a href="#splash" class="nav-link" role="tab" onclick={{action setTab "splash"}}>
          Splash
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "spotify"}}>
        <a href="#spotify" class="nav-link" role="tab" onclick={{action setTab "spotify"}}>
          Spotify
        </a>
      </nav.item>
    </BsNav>
    <div class="tab-content">
      <tab.pane @id="admiral-lightning-bot" @title="Admiral Lightning Bot">
        <Controls::TwitchChatBot />
      </tab.pane>
      <tab.pane @id="brain" @title="Brain">
        <Controls::Brain />
      </tab.pane>
      <tab.pane @id="obs-scripts" @title="OBS Scripts">
        <Controls::ObsScripts />
      </tab.pane>
      <tab.pane @id="players" @title="Players">
        <Controls::Players />
      </tab.pane>
      <tab.pane @id="sound-board" @title="Sound Board">
        <Controls::SoundBoard />
      </tab.pane>
      <tab.pane @id="splash" @title="Splash">
        <Controls::Splash />
      </tab.pane>
      <tab.pane @id="spotify" @title="Spotify">
        <Controls::Spotify />
      </tab.pane>
    </div>
  </BsTab>
</div>
