<div local-class="control-panel">
  <BsTab @activeId={{activeId}} @customTabs={{true}} as |tab|>
    <BsNav @type="tabs" as |nav|>
      <nav.item @active={{bs-eq activeId "admiral-lightning-bot"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "admiral-lightning-bot"}}>
          Admiral Lightning Bot
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "background-image"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "background-image"}}>
          Background Image
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "brain"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "brain"}}>
          Brain
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "obs-scripts"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "obs-scripts"}}>
          OBS Scripts
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "sound-board"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "sound-board"}}>
          Sound Board
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "splash"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "splash"}}>
          Splash
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "spotify"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "spotify"}}>
          Spotify
        </a>
      </nav.item>
      <nav.item @active={{bs-eq activeId "sub-goal"}}>
        <a class="nav-link" role="tab" onclick={{action setTab "sub-goal"}}>
          Sub Goal
        </a>
      </nav.item>
    </BsNav>
    <div class="tab-content">
      <tab.pane @id="admiral-lightning-bot" @title="Admiral Lightning Bot">
        <Controls::TwitchChatBot />
      </tab.pane>
      <tab.pane @id="background-image" @title="Background Image">
        <Controls::BackgroundImage />
      </tab.pane>
      <tab.pane @id="brain" @title="Brain">
        <Controls::Brain />
      </tab.pane>
      <tab.pane @id="obs-scripts" @title="OBS Scripts">
        <Controls::ObsScripts />
      </tab.pane>
      <tab.pane @id="sound-board" @title="Sound Board">
        <Controls::SoundBoard />
      </tab.pane>
      <tab.pane @id="splash" @title="Splash">
        <Controls::Splash />
      </tab.pane>
      <tab.pane @id="spotify" @title="Spotify">
        <Controls::Spotify />
      </tab.pane>
      <tab.pane @id="sub-goal" @title="Sub Goal">
        <Controls::SubGoal />
      </tab.pane>
    </div>
  </BsTab>
</div>
