{{input type="text" value=player1}}
{{input type="text" value=player2}}
{{input type="text" value=player3}}
{{input type="text" value=player4}}

<button {{action updatePlayerNames}}>Update Player Names</button>


<div local-class="sound-board">
  {{#each sounds as |sound|}}
    <div local-class="sound">
      <p local-class="sound-name">{{sound.name}}</p>
      <button {{action "playSound" sound.id}}>Play</button>
    </div>
  {{/each}}
</div>
