<div local-class="sound-board">
  <div local-class="create-new">
    {{#if isCreatingNew}}
      <SoundBoard::BoardItem @isNew="true" @createCallback={{callback}} @cancelCallback={{callback}} />
    {{else}}
      <button class="btn" {{action "createNew"}}>Create New Sound</button>
    {{/if}}
  </div>

  <div local-class="actual-sounds">
    {{#each sounds as |sound|}}
      <SoundBoard::BoardItem @sound={{sound}} />
    {{/each}}
  </div>
</div>
