<div local-class="poll-controls">
  <div local-class="poll-info">
    <BsForm @formLayout="vertical" @model={{this}} as |form|>
      <form.element @controlType="text" @label="Poll Title" @property="pollTitle" />
      <form.element @controlType="text" @label="Timer" @property="pollTimer" />
      <p local-class="questions-label">Questions</p>
      <BsButton @type="primary" @onClick={{action "addQuestion"}}>Add Question</BsButton>
      <BsButton @type="danger" @onClick={{action "removeQuestion"}}>Remove Question</BsButton>
      <br><br>
      {{#each questions as |question index|}}
        <div class="form-group">
          <Input @class="form-control" @type="text" @value={{get questions index}} />
        </div>
      {{/each}}
      <br><br>
      <BsButton @type="primary" @onClick={{action "save"}}>Save</BsButton>
    </BsForm>

  </div>
  <div local-class="poll-actions">
    <Utils::ToggleButton @positiveText="Stop Poll" @negativeText="Start Poll" @value={{poll.isRunning}} @callback={{action "togglePoll"}} />
  </div>
</div>
